.code-wallet {
    padding-block: 20px;
    width: 100%;
    margin-inline: auto;
}

.code-title {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.code-title-text {
    font-size: 22px;
    color: var(--theme-1);
}

.code-title-options {
    display: inline-flex;
    gap: 10px;
}

.code-verify {
    position: fixed;
    z-index: 999999999;
    inset: 0;
    background-color: #000b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.code-verify-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 10px #0003;
    gap: 10px;
}

.code-verify-title {
    font-size: 20px;
    color: red;
}

.code-verify-text {
    font-size: 16px;
    color: #727888;
}

.code-verify-option {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.code-verify-option>button {
    flex: .4;
}

.code-verify-option>svg {
    font-size: 50px;
}

.code-verify-delete {
    background-color: rgb(255, 68, 68);
}

.code-verify-delete:hover {
    background-color: rgb(168, 58, 58) !important;
}

.code-verify-delete:active {
    background-color: rgb(196, 55, 55) !important;
}
