.homerun {
    padding: 20px;
    margin: 0;
    color: var(--theme-1);
}

.home-block {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-block: 50px;
    gap: 5vh;
}

.home-block>* {
    min-width: 200px;
    max-width: 600px;
}

.home-block-title {
    font-size: 30px;
    color: var(--theme-3);
    margin-bottom: 20px;
}

.home-block-sub {
    color: #727888;
    font-size: 20px;
}

.home-block-image {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #0003;
    overflow: hidden;
}