body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

body,
html,
*,
*::before,
*::after,
:host,
:root {
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    z-index: 1;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;
}

.ftcopy {
    color: #bbb;
    white-space: nowrap;
}

.ftflow {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ftadd {
    display: inline-flex;
    padding: 5px 20px;
    background-color: #fff4;
    border-radius: 5px;
    backdrop-filter: blur(16px);
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: #ddd;
    transition: .2s;
    border: none;
    user-select: none;
}

.ftadd:disabled {
    background-color: #fff1;
    color: #727888;
}

.ftadd:not(:disabled):hover {
    box-shadow: 0 0 0 1px #fff8;
    color: #fff;
    cursor: pointer;
}

.ftadd:not(:disabled):active {
    background-color: #fff2;
}

.open-sky {
    display: block;
    position: fixed;
    inset: 0;
}

.boundry {
    animation: rotating_sky 10s infinite linear;
    background-image: linear-gradient(0deg, #6B4984, #483475, #2B2F77, #141852, #070B34);
    position: fixed;
    inset: -50vw -50vh;
}

@keyframes rotating_sky {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.star {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        /* text-shadow: none; */
        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}

@media screen and (max-width: 401px) {
    .footer {
        gap: 10px;
        padding-inline: 10px;
    }

    .ftflow {
        gap: 10px;
    }
}