
.header {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--background);
    transition: .2s;
}

.header-active {
    box-shadow: 0px 10px 20px -5px #0003;
}

.header,
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 999999999;
}

.header-image {
    width: 50px;
    height: 50px;
}

.header-text {
    font-size: 30px;
    padding-top: 6px;
    flex: 1;
    text-align: left;
}


.header-link {
    color: var(--theme-3);
    transition: .2s;
    text-decoration: none;
}

.header-link:hover {
    color: var(--theme-1);
}

.header-buttons {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    align-self: flex-start;
    height: 100%;
}

.header-button {
    padding: 12px 30px;
    display: inline-flex;
    align-self: center;
    height: 50px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--theme-3);
    border-radius: 5px;
    text-decoration: none;
    position: relative;
}

@media screen and (min-width: 901px) {
    .mobile-visible {
        display: none !important;
    }

    .header-button::before {
        position: absolute;
        transition: .2s;
        content: " ";
        inset: -11px 5px auto 5px;
        height: 0;
        background-color: var(--theme-3);
        border-radius: 0 0 6px 6px;
    }

    .header-button.active::before {
        height: 6px;
    }
}

@media screen and (max-width: 901px) {
    .mobile-hidden {
        display: none !important;
    }
    .header {
        padding-inline: 10px;
    }

    .header-button-container {
        position: fixed;
        inset: 0;
        background-color: #0008;
    }
    .header:not(.header-open) .header-button-container {
        display: none;
    }

    .header-buttons {
        padding: 10px;
        position: absolute;
        inset: 0 auto 0 0;
        background-color: #fff;
        align-items: stretch;
        flex-direction: column;
        width: 310px;
    }

    .header-buttons>* {
        width: 100%;
        text-align: center;
    }

    .mobile-visible.header-flex {
        margin-bottom: 20px;
    }

    .header-button {
        padding: 10px 20px;
        height: auto;
        transition: .2s;
    }

    .header-button.active {
        background-color: var(--theme-3);
        color: #fff;
    }

    .mobile-visible.bigbutton {
        margin-top: auto;
    }
    .header-link.header-flex {
        flex: 1;
        justify-content: flex-start;
    }
}
.header-photo {
    background-color: var(--theme-1);
    padding: 1px;
}