.player {
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    inset: 0;
    background-color: #071017;
}
.player-frame {
    display: block;
    flex: 1;
    width: 100%;
    height: -webkit-fill-available;
    height: stretch;
    background-color: #fff;
    border: none;
}
.player-footer {
    height: initial !important;
    flex-direction: column;
    gap: 5px;
}
.player .editor-footer {
    margin-top: auto;
}
.player-footer-flex-full {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.player-footer .editor-footer-loader {
    font-size: 10px;
}